body {
	background-color:#FFF;
}

/*
body.homepage {
	overflow:hidden;
}
*/

.wrapper-fixed {
	max-width:850px;
}

.wrapper-fixed.large {
	max-width:1370px;
}

#container {
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
  	min-width:320px;
}

#main-wrapper {
	flex: 1;
}

.homepage #container {
	display:block;
	min-height:1px;
}

.homepage #main-wrapper {
	flex:none;
}

p {
	line-height:1.4em;
}

.section-next {
	position:absolute;
	bottom:15px;
	left:0;
	width:100%;
	z-index:999;
}

.section-next img {
	margin:0 auto;
	display:block;
	cursor:pointer;
}

@media only screen and (max-width:1400px){

	.wrapper-fixed.large {
		padding-left:15px;
		padding-right:15px;
	}
}

/*********************************************************
***** Header *********************************************
*********************************************************/

#header-wrapper {
	background-image:url(../img/background-header-min.jpg);
	background-repeat:repeat-x;
	background-position:center top;
}

#header-wrapper-inner {
	/*
	background-image:url(../img/overlay-header.png);
	background-repeat:repeat-x;
	background-position:center top;
	*/
	min-height:160px;
}

#header-wrapper .wrapper-fixed {
	padding-top:15px;
	margin-bottom:32px;
}


#header-logo {
	width:100%;
	margin:0 auto;
	text-align:center;
}

#header-logo a {
	display:inline-block;
	vertical-align:top;
	margin:0 auto;
}

#header-logo img {
	width:auto;
	margin:0 auto;	
}

#header-homepage {
	padding:0 15px;
}

#header-homepage a {
	border:1px solid #4d4d4d;
	color:#4d4d4d;
	padding:3px 17px;
	display:inline-block;
	vertical-align:top;
	position:relative;
}

#header-homepage a:before {
	content:'\f0d9';
	font-family:'FontAwesome';
	left:0;
	margin-right:10px;
	font-size:16px;
	position:relative;
	top:1px;
}

#header-title {
	text-align:center;
	margin-bottom:100px;
}

#header-wrapper h3 {
	font-size:33px;
	font-weight:400;
	display:inline-block;
	/*padding:10px;
	background-color:rgba(0,0,0,0.7);*/
	color:#FFF;
	margin-bottom:10px;
}

#header-wrapper h3:last-child {
	margin-bottom:0;
}

#header-copy {
	
}

#header-copy p {
	font-size:16px;
}

#header-copy p:first-child {
	font-size:22px;
}


/*********************************************************
***** Header - Homepage **********************************
*********************************************************/

@keyframes headerOverlay {
    0%     {background-color:rgba(0,0,0,0.8);}
    14%     {background-color:rgba(0,0,0,0.8);}
    50.0%  {background-color:rgba(0,0,0,0);}
    100.0%  {background-color:rgba(255, 255, 255, 0.7);}
}

@keyframes headerText {
    0%     {opacity:0;}
    50%     {opacity:0;}
    100.0%  {opacity:1;}
}

.homepage #header-wrapper,
.homepage #header-wrapper #header-wrapper-inner {
	transition:all 0s linear; 
	-o-transition:all 0s linear;
	-moz-transition:all 0s linear;
	-webkit-transition:all 0s linear;
}

.homepage #header-wrapper {
	background-image:url(../img/background-header-large-min.jpg);
	padding:0;
}

.homepage #header-wrapper #header-wrapper-inner {
	background-image:none;
	background-color:rgba(255, 255, 255, 0.7);
	animation-name: headerOverlay;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;    
}

.homepage #header-wrapper .wrapper-fixed {
	/*padding-top:60px;
	min-height:765px; */
	padding-top:0;
	padding-bottom:0;
	margin:0 auto;
}

.homepage #header-logo {
	margin-bottom:100px;
}

.homepage #header-wrapper #header-wrapper-inner h3 {
	color:#333;
	animation-name: headerText;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;    
}

@media only screen and (max-width:767px){

	.homepage #header-logo {
		margin-bottom:50px;
	}

	.homepage #header-wrapper #header-wrapper-inner h3 {
		font-size:24px;
	}

}

/*********************************************************
***** Footer *********************************************
*********************************************************/

#footer-wrapper {
	background-color:#3d3d3d;
	color:#FFF;
}

#footer-wrapper .wrapper-fixed {
	padding-top:8px;
	padding-bottom:8px;
}

#footer-wrapper ul {
	list-style-type:none;
	padding:12px 0 0 0;
	margin:0;
}

#footer-wrapper ul li {
	display:inline-block;
	vertical-align:middle;
	margin-right:15px;
	margin-left:-4px;
}

#footer-wrapper ul li:first-child {
	margin-left:0;
}

#footer-wrapper ul li:last-child {
	margin-right:0;
}

#footer-wrapper ul li a {
	display:block;
	width:36px;
	height:36px;
	border-radius:50%;
	background-color:#FFF;
	text-align:center;
	line-height:36px;
	font-size:20px;
}

#footer-wrapper .right img {
	margin-left:auto;
}

@media only screen and (max-width:767px){

	#footer-wrapper .left {
		text-align:center;
	}

	#footer-wrapper .right img {
		margin-left:auto;
		margin-right:auto;
	}

}

/*********************************************************
***** Bio Page *******************************************
*********************************************************/

#bio-heading {
	background-color:#ededed;
	color:#333333;
	margin-bottom:40px;
}

#bio-heading .wrapper-fixed {
	padding-top:7px;
	padding-bottom:7px;
	overflow:hidden;
}

#bio-heading #bio-left {
	float:left;
	width:110px;
}

#bio-heading #bio-right {
	float:left;
	padding-left:35px;
	padding-top:12px;
}

#bio-heading ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

#bio-heading ul li {
	display:inline-block;
	vertical-align:middle;
	margin-right:15px;
	margin-left:-4px;
}

#bio-heading ul li:first-child {
	margin-left:0;
}

#bio-heading ul li:last-child {
	margin-right:0;
}

#bio-heading ul li a {
	display:block;
	width:36px;
	height:36px;
	border-radius:50%;
	background-color:#3d3d3d;
	text-align:center;
	line-height:36px;
	font-size:20px;
	color:#FFF;
}

#bio-heading h1 {
	font-size:22px;
	font-weight:400;
	margin:0 0 10px;
}

#bio-heading #bio-graphic {
	border:3px solid #3d3d3d;
	border-radius:50%;
	display:block;
	overflow:hidden;
}

#page-content {
	padding-bottom:30px;
}


#page-content p,
#page-content li {
	font-size:15px;
	font-weight:300;
}

#page-content p:first-child {
	font-size:22px;
	font-weight:400;
}

@media only screen and (max-width:380px){

	#bio-left,
	#bio-right {
		float:none !important;
		width:100% !important;
		text-align:center;
		padding-left:0 !important;
	}

	#bio-heading #bio-graphic {
		margin:0 auto;
		width:110px;
	}

}


/*********************************************************
***** Listing Page ***************************************
*********************************************************/

#three-columns {

}

#three-columns .column {
	width:30.66%;
	margin-right:4%;
}

#three-columns .column:last-child {
	margin-right:0;
}

#three-columns h1,
#three-columns h2,
#three-columns h3,
#three-columns h4,
#three-columns h5,
#three-columns h6 {
	font-size:22px;
	font-weight:300;
}

#three-columns img {
	display:block;
	width:100%;
}

#three-columns iframe {
	display:block;
	width:100%;
}

@media only screen and (max-width:767px){

	#three-columns .column {
		width:100%;
		margin-right:0;
	}

}

/*********************************************************
***** Homepage Misc **************************************
*********************************************************/

#video-wrapper {
	overflow:hidden;
	position:relative;
	background-color:#000;
	background-image: url(../img/graphic-video-still.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}


#video-wrapper.active {
	background-image:none;
}

#video-wrapper > img {
	width:100%;
	height:auto;
	visibility:hidden;
}

#video-arrow {
	bottom:65px;
}

#video-wrapper #video-embed {
	display:none;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}

#video-wrapper-play {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	height:109px;
	width:110px;
	margin:auto;
	z-index:2;
	cursor:pointer;
}

.iframe-wrapper {
	position: relative;
	/* padding-bottom: 56.25%; /* 16:9 */
	padding-bottom: 52.3%;
	padding-top: 25px;
	height: 0;
}

.iframe-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#video-embed .iframe-wrapper iframe {
	width: 100vw;
}

#node-map-wrapper {
	position:relative;
	overflow:hidden;
}

#node-map-wrapper > img {
	width:100%;
}


#profile-wrapper {
	padding:30px 70px;
}

.profile-item {
	overflow:hidden;
	margin-bottom:30px;
}

.profile-item-left {
	float:left;
	width:13%;
}

.profile-item-right {
	float:left;
	padding-left:35px;
	padding-top:12px;
	width:87%;
}


.profile-item h3 {
	font-size:22px;
	font-weight:400;
	margin:0 0 10px;
}

.profile-item .profile-graphic {
	border:3px solid #3d3d3d;
	border-radius:50%;
	display:block;
	overflow:hidden;
}

.profile-item .profile-graphic img {
	width:100%;
}

.profile-item p {
	font-size:16px;
	font-weight:300;
}

.profile-item a {
	border:1px solid #4d4d4d;
	color:#4d4d4d;
	padding:2px 10px;
	display:inline-block;
	vertical-align:top;
	position:relative;	
	font-weight:400;
}


@media only screen and (max-width:990px){

	#profile-wrapper {
		padding:30px 0px;
	}

	.profile-item-left {
		padding-top:30px;
	}

}

@media only screen and (max-width:767px){

	.profile-item-left {
		width:20%;
	}

	.profile-item-right {
		width:80%;
	}

}

@media only screen and (max-width:500px){

	.profile-item .profile-graphic {
		width:150px;
		margin:0 auto 15px;
	}

	.profile-item .profile-graphic img {
		width:100%;
	}

	.profile-item-left {
		width:100%;
		float:none;
		text-align:center;
	}

	.profile-item-right {
		width:100%;
		float:none;
		text-align:center;
		padding:0;
	}

}

#network-map-wrapper {
	width:100%;
	height:60%;
	background-image:url(../img/background-network-map-min.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	text-align:center;
}

#network-map-wrapper .wrapper-fixed {
	height:100%;
}

.node-item {
	position:absolute;
	left:0;
	top:0;
	width:125px;
	text-align:center;
	background-color:#FFF;
	border:1px solid #EEE;
	padding:3px 15px;
}

.node-item:before {
	content:' ';
	width:49px;
	height:49px;
	display:block;
	position:absolute;
	top:-60px;
	left:38px;
}

.node-item.person:before {
	background-image:url(../img/icon-person.png);
}

.node-item.note:before {
	background-image:url(../img/icon-note.png);
}

/** Node Item Locations **/

.node-item.a {
	left:10%;
	top:135px;
}

.node-item.b {
	left:18%;
    top:290px;
}

.node-item.c {
	left:22.5%;
    top:145px;
}

.node-item.d {
	left:35.2%;
    top:215px;
}

.node-item.e {
	left:50%;
    top:125px;
}

.node-item.f {
	left:57%;
    top:242px;
}

.node-item.g {
    left:63.4%;
    top:81px;
}

.node-item.h {
    left:69%;
    top:311px;
}

.node-item.i {
    left:75%;
    top:175px;
}

@media only screen and (max-width:1300px){

	.node-item {
		left:0 !important;
		top:0 !important;
		position:relative !important;
		display:inline-block;
		vertical-align:top;
		margin:80px 20px 20px;
	}

}


@media only screen and (max-width:630px){

	#node-map-wrapper {
		height:auto !important;
	}

	#network-map-wrapper {
		height:auto !important;
		background-repeat:repeat;
		padding-bottom:100px;
	}

	#location-map-wrapper {
		height:500px !important;
	}

	#location-map-wrapper #map {
		height:500px;
	}

}



#location-map-wrapper {
	width:100%;
	height:40%;
	overflow:hidden;
	position:relative;
}

@media only screen and (min-height:900px){

	#location-map-wrapper {
		height:50%;
	}

	#network-map-wrapper {
		height:50%;
	}

}

#map,
#map * {
	transition:all 0s linear; 
	-o-transition:all 0s linear;
	-moz-transition:all 0s linear;
	-webkit-transition:all 0s linear;
}

#map {
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}