                        <div class="profile-item">
                            <div class="profile-item-left">
                                <div class="profile-graphic">
                                    <img src="img/{{ .Params.image }}" alt="{{ .Title }}" />
                                </div>
                            </div>
                            <div class="profile-item-right">
                                <h3>{{ .Title }}</h3>
                                {{ .Summary }}
                                <p><a href="{{ .URL }}">View full profile</a></p>
                            </div>
                        </div>
